		body{
			background-size: contain;
            background-repeat: no-repeat;
        }

		#cartlink{
			border-radius:0px;
			color:white;
		}
		.search .input-group{
		color:blue;
		box-shadow:1px 1px 10px lightblue;
		}
				
		.login_area{
		margin:auto;
		padding:2em;
		min-height:600px;
		}

		.form-login input,.form-login btton{
		padding:1em;
		height:2.3em;
		border-radius:10px;
		border:1px solid steelblue;
		box-shadow:1px 1px 5px lightblue;
		margin-bottom:1em;
		
		}
		.form-login span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-weight:500;
        padding:1em;
        font-size: 22px;
		
		
		}
	
		
		.login_area .row img:hover{
		  -ms-transform: scale(1.1); /* IE 9 */
		-webkit-transform: scale(1.1); /* Safari 3-8 */
		transform: scale(1.1); 
		}
		#hptitle{
		//margin-left:1%;
		margin-bottom:10px;
		color:gray;
		text-align: center;;
		}
		ul li{
		list-style-type:none;
		}
		.loginform{
			background-color: whitesmoke;
			padding:2em;
			width:500px;
			margin: auto;
			border-radius: 10px;
		}
		